<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">

  <title>Nivantis - Calculatrice</title>

  <link rel="stylesheet" href="scripts/w3.css">
  <link rel="stylesheet" href="scripts/fa.css">
  <link rel="stylesheet" href="css/calculatrice.css">
</head>

<body>
  <div id="appBar">
    <app-bar title="Nivantis"
      :pages="[{name:'home',icon:'home'},{name:'pharmacies',icon:'local_pharmacy'},{name:'calculatrice',icon:'dialpad'}]"
      active="calculatrice"></app-bar>
  </div>
  <div id="main" class="w3-animate-opacity">

    <div class="w3-row w3-section w3-container">
      <div class="w3-cell" style="width:100%">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:auto; position:sticky; top:100%"><i class="material-icons">euro_symbol</i>
          </div>
          <div class="w3-rest">
            <label>Prix d'achat net</label>
            <input v-model="panet" class="w3-input" type="number">
          </div>
        </div>
      </div>
      <div class="w3-cell w3-cell-middle w3-container">
        <div :disabled="panetIF" class="w3-button w3-round w3-indigo" v-on:click="calcPanet" style="padding: 6px 8px;">Calculer</div>
      </div>
    </div>
    <div class="w3-row w3-section w3-container">
      <div class="w3-cell" style="width:100%">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:auto; position:sticky; top:100%"><i class="material-icons">euro_symbol</i>
          </div>
          <div class="w3-rest">
            <label>Prix d'achat brut</label>
            <input v-model="pabrut" class="w3-input" type="number">
          </div>
        </div>
      </div>
      <div class="w3-cell w3-cell-middle w3-container">
        <div style="visibility: hidden" class="w3-button w3-round w3-indigo" style="padding: 6px 8px;">Calculer</div>
      </div>
    </div>
    <div class="w3-row w3-section w3-container">
      <div class="w3-cell" style="width:100%">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:auto; position:sticky; top:100%"><i class="material-icons">euro_symbol</i>
          </div>
          <div class="w3-rest">
            <label>Prix de vente net</label>
            <input v-model="pvnet" class="w3-input" type="number">
          </div>
        </div>
      </div>
      <div class="w3-cell w3-cell-middle w3-container">
        <div :disabled="pvnetIF" class="w3-button w3-round w3-indigo" v-on:click="calcPvnet" style="padding: 6px 8px;">Calculer</div>
      </div>
    </div>
    <div class="w3-row w3-section w3-container">
      <div class="w3-cell" style="width: 100%">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:auto; position:sticky; top:100%"><i class="material-icons">loyalty</i>
          </div>
          <div class="w3-rest">
            <label>Taux de remise (%)</label>
            <input v-model="tauxremise" class="w3-input" type="number">
          </div>
        </div>
      </div>
      <div class="w3-cell w3-cell-middle w3-container">
        <div :disabled="tauxremiseIF" class="w3-button w3-round w3-indigo"
          v-on:click="calcTauxremise" style="padding: 8px 8px;">Calculer</div>
      </div>
    </div>
    <div class="w3-row w3-section w3-container">
      <div class="w3-cell" style="width: 100%">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:auto; position:sticky; top:100%"><i class="material-icons">cancel</i>
          </div>
          <div class="w3-rest">
            <label>Coefficient multiplicateur</label>
            <input v-model="coeff" class="w3-input" type="number">
          </div>
        </div>
      </div>
      <div class="w3-cell w3-cell-middle w3-container">
        <div :disabled="coeffIF" class="w3-button w3-round w3-indigo" v-on:click="calcCoeff" style="padding: 6px 8px;">Calculer</div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="scripts/Vue.js"></script>
  <script type="text/javascript" src="components/AppBar.js"></script>
  <script type="text/javascript" src="js/calculatrice.js"></script>
</body>

</html>